.workSpaceContainer {
    background-color: $bgColor;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    .hikeSurveyIcon {
        background-image: url('images/hikesurvey.png');
        height: 100px;
        width: 100%;
        margin: 100px 0px 40px 0px;
        background-position: center;
    }
    .title {
        @include fontStyle(24px,
        300,
        #fff,
        32px);
        margin-bottom: 12px;
    }
    .subTitle {
        @include fontStyle(16px,
        400,
        #8D97A9,
        22px);
        margin: 0 42px 60px 42px;
        max-height: 70px;
        overflow: hidden;
    }
    .homeScreenBtn {
        @include fontStyle(15px,
        500,
        #fff,
        20px);
        background-color: $buttonFillColor;
        padding: 14px;
        margin: 0 40px 40px 40px;
        border-radius: 4px;
    }
    .timeIcon {
        background-image: url('images/time_icon.png');
        height: 9px;
        width: 9px;
        margin-right: 4px;
    }
    .timeText {
        @include fontStyle(12px,
        400,
        #fff,
        16px);
    }
    @media screen and (min-height: 430px) and (max-height: 500px) {
        .hikeSurveyIcon {
            margin-top: 70px;
            height: 80px;
        }
        .title {
            font-size: 20px;
        }
        .subTitle {
            font-size: 12px;
            margin: 0 42px 40px 42px;
            max-height: 43px;
        }
        .homeScreenBtn {
            font-size: 12px;
            margin: 0 50px 40px 50px;
        }
        .timeText {
            font-size: 10px;
        }
    }
    @media screen and (max-width: 340px) {
        .hikeSurveyIcon {
            margin-top: 80px;
        }
        .title {
            font-size: 22px;
        }
        .subTitle {
            font-size: 14px;
        }
        .homeScreenBtn {
            font-size: 13px;
            margin: 0 50px 40px 50px;
        }
        .timeText {
            font-size: 10px;
        }
    }
    @media screen and (min-width: 341px) and (max-width: 360px) {
        .hikeSurveyIcon {
            margin-top: 85px;
        }
        .title {
            font-size: 22px;
        }
        .subTitle {
            font-size: 14px;
        }
        .homeScreenBtn {
            font-size: 13px;
            margin: 0 45px 40px 45px;
        }
        .timeText {
            font-size: 10px;
        }
    }
    @media screen and (min-width: 361px) and (max-width: 380px) {
        .hikeSurveyIcon {
            margin-top: 90px;
        }
        .title {
            font-size: 23px;
        }
        .subTitle {
            font-size: 15px;
        }
        .homeScreenBtn {
            font-size: 14px;
            margin: 0 45px 40px 45px;
        }
        .timeText {
            font-size: 11px;
        }
    }
}